/* RESET */

*, ::before, ::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
}

html:not(:focus-within) {
	scroll-behavior: auto;
}

img, svg {
	display: block;
	max-width: 100%;
	height: auto;
}

input, select, textarea, button {
	font: inherit;
	color: inherit;
	// border: none;

	&:disabled { opacity: .3 }
}

select {
	-webkit-appearance: none;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23aaa" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>') #fff calc(100% - 6px)/33px no-repeat
}

textarea {
	resize: vertical;
}

hr {
	border-width: 0 0 2px 2px !important;
	align-self: stretch;
}

hr, input, select, textarea {
	border: 2px solid rgba(0, 0, 0, .1)
}
