html {
	background-color: #FAFAFA;
	background-color: #F0EFF5;
}

section {
	& > :first-child {
		& > h2 {
			color: #20227D;
			font-size: 40px;
		}

		& > b {
			color: #0008;
			font-size: 13px;
		}
	}
}

section#section-1 {
	background-image: var(--color-gradient);
	color: #fff;

	& h1 {
		font-size: 48px;
	}

	& p {
		font-size: 18px;
		line-height: 2.2;
	}
}

section#section-2 {
	.tab {
		.tab-stripe {
			overflow: auto;
			scrollbar-width: none;

			mask-image: linear-gradient(to left, #0000 0, #000 50px);
			-webkit-mask-image: linear-gradient(to left, #0000 0, #000 50px);
			mask-composite: source-in;
			-webkit-mask-composite: source-in;

			&::-webkit-scrollbar {
				display: none;
			}

			& > button {
				flex: 1 0 auto;
				gap: 20px;
				padding: 20px 15px;
				color: #20227D;

				&.active {
					border-bottom: 2px solid #20227D;
				}

				& > svg {
					width: 30px;
					height: 30px;
					fill: #6A40FF;
				}
			}
		}
	}

	.grid-2 {
		gap: 8%;

		@media (min-width: 1000px) {
			& > .image-wrap > button.play {
				left: auto;
				transform: translateX(50%);
			}
		}

		& > .content-wrap {
			gap: 20px;
		}
	}
}

section#section-3 {

	& .grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		gap: 30px;

		& > .card {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 25px;
			padding: 35px;
			border-radius: var(--radius);
			background-color: #fff;
			box-shadow: 0 5px 10px #0001;
		}

		& h3 {
			font-size: 22px;
			color: #20227D;
		}

		& p {
			font-size: 14px;
			color: #000b;
		}

		& svg {
			width: 20px;
			height: 20px;
			margin-top: auto;
		}

	}

	& > .primary { font-size: 25px }
}

section#section-4 {
	background-color: #fff;

	& > div {
		gap: 50px;

		& > div:first-child {
			justify-content: space-between;
			flex-wrap: wrap;
			width: 100%;
			gap: 30px;

			& > h2 {
				width: 450px;
				font-size: 28px;

				@media (max-width: 900px) {
					width: 100%;
				}
			}

			& > div {
				width: 350px;
				justify-content: space-between;
				gap: 30px;
				line-height: 1.6;

				div { flex: 1 }
				p { font-size: 14px }
				strong { font-size: 16px }
			}
		}

		& > div:last-child {
			display: flex;
			gap: 50px;
			flex-wrap: wrap;

			& > div {
				flex: 1 280px;
				display: flex;
				flex-direction: column;
				gap: 30px;

				& > img { width: 105px }

				& q { flex: 1; }

				.user {
					display: flex;
					gap: 10px;

					img {
						width: 60px;
						height: 60px;
						border-radius: var(--radius-full);
						object-fit: cover;
					}

					div {
						display: flex;
						flex-direction: column;
						justify-content: space-around;
					}
				}
			}
		}
	}
}


.popup-container {
	position: fixed;
	inset: 0;
	display: grid;
	place-items: center;
	width: 100vw;
	background-color: #003cb44d;

	z-index: 20;

	&, & .popup {
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.2s cubic-bezier(0, 0.35, 0.8, 1), visibility 0.2s;

		&.active {
			opacity: 1;
			visibility: visible;
		}
	}

	.popup {
		--gap: min(8%, 50px);
		grid-area: 1/1/2/2;
		position: relative;
		display: grid;
		grid-template-columns: var(--gap) 1fr var(--gap);
		gap: 20px 0;
		width: min(90%, 650px);
		max-height: calc(100vh - 120px);
		padding: 55px 0;
		background-color: #fff;
		border-radius: var(--radius-large);

		& > * {
			grid-column: 2;

			&.wide {
				grid-column: 1 / -1;
			}

			&.flex {
				justify-content: space-between;
			}

			ul {
				list-style: none;
				color: #1F227D;
				padding-left: 20px;

				& > li {
					position: relative;

					&::before {
						position: absolute;
						top: 5px;
						left: -18px;
						content: "";
						width: 8px;
						height: 8px;
						background-color: currentColor;
						border-radius: var(--radius-full);
					}
				}
			}
		}

		&::before {
			content: "";
			position: absolute;
			inset: 0 0 auto;
			width: min(80%, 400px);
			height: 30px;
			margin: auto;
			border-radius: 0 0 var(--radius) var(--radius);
			background-color: #20227D;
		}

	}

	.popup-close-btn {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
		padding: 10px;
	}
}
