---
title: 404 Error

permalink: 404.html
eleventyExcludeFromCollections: true
---

<section class="header">
	<h1>{{ title }}</h1>
</section>

<section>
	<div class="text-center">
		<strong>The page you are looking for cannot be found</strong>
	</div>
</section>