---

styles:
	- /styles/about-us.css
---

<section class="header">
	<h1>About Our Company</h1>
</section>

<section>
	<div class="grid-2">
		<div class="image-wrap">
			<img src="/images/about-us.png">
		</div>
		<div class="content-wrap">
			<h2>Work For Your<br><span>Incredible Success</span></h2>

			<div class="tab">
				<div class="tab-stripe">
					<button class="badge active">Our Mission</button>
					<button class="badge">Our Vision</button>
					<button class="badge">Our Goal</button>
				</div>
				<div class="tab-content">
					<div class="active">
						<p>Websites are stored or "hosted" on a publicly accessible computer (a server). Some websites require an entire server to themselves.</p>
					</div>
					<div>
						<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis laborum enim distinctio voluptatum, nihil ullam! Aspernatur illo veritatis asperiores dolor.</p>
					</div>
					<div>
						<p>Iusto adipisci itaque, quidem explicabo vel sint rerum sit quae temporibus amet incidunt iste repellat odio expedita voluptas ea a.</p>
					</div>
				</div>
			</div>

			<div class="flex">
				<a class="btn flat" href="#">Learn More</a>
				<div class="flex flex-col">
					<b>Support Email</b>
					<strong><a href="mailto:info@webmail.com">info@webmail.com</a></strong>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="timeline-section">
	<div class="flex flex-col text-center">
		<h2 >Getting Started With UTURN AI Enforcement</h2>
		<p>More than 15,000 companies trust and choose UTURN AI</p>
	</div>

	<div id="timeline">
		<div class="line">
			<strong class="num">2000</strong>
			<div class="card">
				<h3>Built New Team</h3>
				<p>Sass which stands for 'Syntactically awesome style sheet is an extension of that enables you to use things like variables.</p>
			</div>
		</div>

		<div class="line">
			<div class="card">
				<h3>Got Design Rewards</h3>
				<p>Sass which stands for 'Syntactically awesome style sheet is an extension of that enables you to use things like variables.</p>
			</div>
			<strong class="num">2005</strong>
		</div>

		<div class="line">
			<strong class="num">2015</strong>
			<div class="card">
				<h3>Best Team In Egypt</h3>
				<p>Sass which stands for 'Syntactically awesome style sheet is an extension of that enables you to use things like variables.</p>
			</div>
		</div>

		<div class="line">
			<div class="card">
				<h3>Design Rewards In NYC</h3>
				<p>Sass which stands for 'Syntactically awesome style sheet is an extension of that enables you to use things like variables.</p>
			</div>
			<strong class="num">2018</strong>
		</div>

		<div class="line">
			<strong class="num">2022</strong>
			<div class="card">
				<h3>Featured On Envato</h3>
				<p>Sass which stands for 'Syntactically awesome style sheet is an extension of that enables you to use things like variables.</p>
			</div>
		</div>
	</div>

</section>