---
title: Articles

styles:
  - /styles/blog.css
---

<section class="header">
	<h1>{{ title }}</h1>
</section>

<section>
	<div class="grid-3">
		<div>
			<article>
				<div class="image-wrap">
					<img src="/images/post-1.png">
				</div>

				<h2>Create Live Segments & Target The Right People For Your Amazing Team.</h2>

				<ul class="meta">
					<li>
						<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4Z"/></svg>
						<a href="#">Admin</a>
					</li>
					<li>
						<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2m4.2 14.2L11 13V7h1.5v5.2l4.5 2.7l-.8 1.3Z"/></svg>
						<time>May 11, 2022</time>
					</li>
					<li>
						<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M19 18H9a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h1v5l2-1.5L14 7V2h5a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2m-2 2v2H5a2 2 0 0 1-2-2V6h2v14h12Z"/></svg>
						<a href="#">Affiliates, Create Account</a>
					</li>
					<li>
						<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M5.5 7A1.5 1.5 0 0 1 4 5.5A1.5 1.5 0 0 1 5.5 4A1.5 1.5 0 0 1 7 5.5A1.5 1.5 0 0 1 5.5 7m15.91 4.58l-9-9C12.05 2.22 11.55 2 11 2H4c-1.11 0-2 .89-2 2v7c0 .55.22 1.05.59 1.41l8.99 9c.37.36.87.59 1.42.59c.55 0 1.05-.23 1.41-.59l7-7c.37-.36.59-.86.59-1.41c0-.56-.23-1.06-.59-1.42Z"/></svg>
						<a href="#">Consultation, Envato</a>
					</li>
					<li>
						<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M9 22a1 1 0 0 1-1-1v-3H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2h-6.1l-3.7 3.71c-.2.19-.45.29-.7.29H9Z"/></svg>
						<span>0 Comments</span>
					</li>
				</ul>

				<div class="content">
					<p>
						To mark the first UK show of artist Herni Brande, developers ThemesCamp and German studio schultzschultz have
						created the Ledge Wooden at Berlin city. Today most people get on average 4 to 6 hours of exercise every day, and
						make sure that everything they put in their mouths is not filled with sugars or preservatives, but they pay no
						attention
					</p>
				</div>

				<a class="btn secondary" href="/case-study/">
					Continue Reading
					<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 256 256">
						<path fill="currentColor" d="M128 24a104 104 0 1 0 104 104A104.2 104.2 0 0 0 128 24Zm47.4 107.1a8.7 8.7 0 0 1-1.8 2.6l-33.9 33.9a7.6 7.6 0 0 1-5.6 2.3a7.8 7.8 0 0 1-5.7-2.3a8 8 0 0 1 0-11.3l20.3-20.3H88a8 8 0 0 1 0-16h60.7l-20.3-20.3a8 8 0 0 1 11.3-11.3l33.9 33.9a8.7 8.7 0 0 1 1.8 2.6a8.3 8.3 0 0 1 0 6.2Z"/>
					</svg>
				</a>
			</article>
		</div>

		{% include "../components/sidebar.njk" %}
	</div>
</section>