<section id="contact">
	<div>
		<div>
			<div>
				<p>GETTING STARTED</p>
				<h2>Contact our Sales Team</h2>
			</div>
			<p>Get answers to your questions, a tailored product demo, or even a custom plan that fits your needs.</p>
			<img src="/images/contact.png">
		</div>
		<div>
			<h3>Book your 30-minute chat</h3>
			<form name="contact">
				<label for="name">
					First Name *
					<input id="name" name="name" autocomplete="name" type="text" required />
				</label>
				<label for="name">
					Last Name *
					<input id="name" name="name" autocomplete="name" type="text" required />
				</label>
				<label for="email">
					Business Email *
					<input id="email" name="email" autocomplete="email" type="email" required />
				</label>
				<label for="company_size">
					Company Size *
					<select id="company_size" name="company_size" required>
						<option disabled value>Please Select</option>
						<option value="0 - 10 Employees">0 - 10 Employees</option>
						<option value="11 - 50 Employees">11 - 50 Employees</option>
						<option value="51 - 100 Employees">51 - 100 Employees</option>
						<option value="101 - 200 Employees">101 - 200 Employees</option>
						<option value="201 - 500 Employees">201 - 500 Employees</option>
						<option value="501 - 1000 Employees">501 - 1000 Employees</option>
						<option value="1000+ Employees">1000+ Employees</option>
					</select>
				</label>
				<label for="message">
					How can our sales team help?*
					<textarea id="message" name="message" required></textarea>
				</label>
				<button class="flat" type="submit">Get in touch</button>
			</form>
		</div>
	</div>
</section>