<footer id="site-footer">
	<div class="wrap">
		<div>
			{%- for label, links in site.footer_links -%}
				<nav>
					<strong class="badge">{{ label }}</strong>
					{% for link in links -%}
						<a href="{{ link.url | url }}" {% if link.url === page.url %} aria-current="page" {% endif %}>{{ link.text | safe }}</a>
					{% endfor -%}
				</nav>
			{% endfor -%}
		</div>
		<hr>
		<div>
			<a href="/"><img src="/images/logo.png" alt=""></a>
			<hr>
			<div>
				<p>Copyright © 1999 - 2022 UTURN SYSTEM, LLC. All Rights Reserved.</p>
			</div>
			<nav>
				<a href="#"><svg><use href="#facebook"></use></svg></a>
				<a href="#"><svg><use href="#twitter"></use></svg></a>
				<a href="#"><svg><use href="#behance"></use></svg></a>
				<a href="#"><svg><use href="#youtube"></use></svg></a>
			</nav>
		</div>
	</div>
</footer>