<footer id="site-footer">
	<div class="wrap">
		<div>
			<nav>
				<strong class="badge">About Iteck</strong>
				<a href="#">About Us</a>
				<a href="#">Shop</a>
				<a href="#">Privacy Policy</a>
				<a href="#">Refund Policy</a>
				<a href="#">Terms Conditions</a>
				<a href="#">FAQ Page</a>
				<a href="#">Blogs</a>
				<a href="#">Contact</a>
				<a href="#">Terms Of Use</a>
				<a href="#">Join Us</a>
				<a href="#">Get In Touch</a>
			</nav>
			<nav>
				<strong class="badge">Resources</strong>
				<a href="#">Webmail</a>
				<a href="#">WHOIS</a>
				<a href="#">ANN Confirmation</a>
				<a href="#">Deégners &</a>
				<a href="#">Redeern Code</a>
				<a href="#">Product Catalog</a>
			</nav>
			<nav>
				<strong class="badge">Shopping</strong>
				<a href="#">Domain Search</a>
				<a href="#">WebStes</a>
				<a href="#">WordPress</a>
				<a href="#">Hosting</a>
				<a href="#">Web Security</a>
				<a href="#">Emad & Office</a>
			</nav>
			<nav>
				<strong class="badge">Partner Proyams</strong>
				<a href="#">Affiüates</a>
				<a href="#">Reseller Programs</a>
				<a href="#">GoDaddy Pro</a>
				<a href="#">My Products</a>
				<a href="#">Renewals & Bilfing</a>
				<a href="#">Create Account</a>
			</nav>
		</div>
		<hr>
		<div>
			<a href="/"><img src="/images/logo.png" alt=""></a>
			<hr>
			<div>
				<p>Copyright © 1999 - 2022 UTURN SYSTEM, LLC. All Rights Reserved.</p>
			</div>
			<nav>
				<a href="#"><svg><use href="#facebook"></use></svg></a>
				<a href="#"><svg><use href="#twitter"></use></svg></a>
				<a href="#"><svg><use href="#behance"></use></svg></a>
				<a href="#"><svg><use href="#youtube"></use></svg></a>
			</nav>
		</div>
	</div>
</footer>