<aside id="sidebar">
	<form id="search-form">
		<input id="search-input" type="text" placeholder="Type keyword here">
		<button type="submit">
			<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="-2.5 -2.5 24 24"><path fill="currentColor" d="M8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12zm6.32-1.094l3.58 3.58a1 1 0 1 1-1.415 1.413l-3.58-3.58a8 8 0 1 1 1.414-1.414z"/></svg>
		</button>
	</form>

	<div id="recent-posts">
		<header>
			<h3>Recent posts</h3>
		</header>
		<div class="flex flex-col">
			<div>
				<img src="/images/post-1.png">
				<div>
					<p>Create Live Segments & Target The Right People For Your Amazing Team.</p>
					<time>May 11, 2022</time>
				</div>
			</div>
			<hr>
			<div>
				<img src="/images/post-2.png">
				<div>
					<p>Best unlocked me an striking perceive.</p>
					<time>May 11, 2022</time>
				</div>
			</div>
			<hr>
			<div>
				<img src="/images/post-3.png">
				<div>
					<p>Me in resolution pianoforte continuing we.</p>
					<time>May 11, 2022</time>
				</div>
			</div>
		</div>
	</div>

	<div id="newsletter">
		<header>
			<h3>Newsletter</h3>
		</header>
		<div class="flex flex-col">
			<p>Register now to get latest updates on promotions & coupons.</p>

			<form>
				<input type="email" name="email" id="email" placeholder="Type Your Email"/>
				<button class="flat" type="submit">Subscribe</button>
			</form>
		</div>
	</div>
</aside>